<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="inputsPath" value="inputs.json"/>
    <add key="freedomDegreese" value="5"/>
    <add key="method" value="0"/>
    <add key="vectorReadingType" value="0"/>
  </appSettings>
</configuration>